.navbar {
    width: 590px;
    display: flex;
    justify-content: center;
    background: transparent;
    height: auto;
    margin: 0 2rem;
  }
  
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    transition: 0.4s all;
  }
  

  .navbar-links li a:hover {
    color: #F9B900;
    text-decoration: underline;
  }

  @media (max-width: 1200px){
    .navbar {
     display: none;
    }
  }