.shipping-policy-section{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     
}

.shipping-policy-section h1{

    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 10px solid black;
}

.shipping-policy-section ul{
    width: 90%;
    font-size: 15px;
}
.shipping-policy-section li{
    margin: 2rem 0;
}