.contact-form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form button{

    width: 150px;
    padding: 12px;
    margin-bottom: 1rem;
    font-size: 18px;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 15px;
}
.contact-form button:hover{

    opacity: 0.5;
    transition: .3s;
}