/* 0355FF
F9B900
C0C7CC
00000
*/

.header {
    padding: 0;
    display: flex;
    flex-direction: row;
    position:sticky;
    top:0;
    width: 100%;
    z-index: 2;
    height: 5rem;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 2rem;
}

.header-logo{
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;

}

.header img{
    position: relative;
    top:0;
    width: 100%;
    cursor: pointer;
}

.header img:hover{
    opacity: 0.5;
    transition: .5s;
}
.header-menu{
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.cart{
  display: flex;
  align-items: center;
  cursor: pointer;

}

.nav-bag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9B900;
    width: 25%;
    margin: 0 0.2rem;
  }
  .cart:hover {
    opacity: 50%;
    transition: .5s;
  }
  .header-buttons{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .header-buttons div{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: right

  }

  .lng-btn{
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  .lng-btn :hover{
    opacity: 0.5;
    transition: .3s;
  }
 
.header-buttons button{
    margin-right: 10px;
    width: 100px;
    font-size: small;
    font-weight: 500;
    height: auto;
    cursor: pointer;
    color: #C0C7CC;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 20px;
    border-color: #F9B900;
    border-right: none;
    border-left: none;
    
  }
  .header-buttons button:hover{
    opacity: 0.5;
    transition: .3s;
  }

  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .bag-qty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: #F9B900;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin: 2px;
  }


  @media (max-width: 720px){
    .header-logo{
      width: 200px;
    }
    .header-buttons button{
      width: 80px;
      font-size: 12px;
      
    }

  }
  @media (max-width: 550px){
    .header-logo{
      display: none;
    }
  }
  @media (max-width: 320px){
    .header-buttons button{
      width: 70px;
      height:50px;
      
    }
  }
