.translation-container{
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: auto;
    margin: 0 0.5rem;
}
.translation-icon{
    display: flex;
    cursor: pointer;
    align-items: center;
}


.translation-icon:hover{
    opacity: 0.5;
    transition: .3s;
}